
@{
    ViewBag.Title = "ErollUrl";
}
<div class="mt-5" style="height:100px">

</div>
<div class="mt-5" style="height:340px">
    <div class="container mt-4">

        <div class="alert alert-warning" role="alert">
            Thanh Toán Thất Bại
        </div>
    </div>
</div>
