@model Custormer
@{
    ViewBag.Title = "Home Page";
}
@using WebBanHang.Models.Emtity


@{
    if (Model == null)
    {
        <li class="nav-item"><a class="nav-link" href="/Account/Login">Đăng nhập</a></li>
        <li class="nav-item"><a class="nav-link" href="/Account/Register">Đăng ký</a></li>
        @*<div class="header-right">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="header-account header-account-login ">Đăng nhập</button>
                <a href="/Account/Register" class="header-account header-account-signup">Đăng kí</a>
            </div>*@

    }
    else
    {

        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">@Model.name</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="#">Thông tin tài khoản</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/Tracking">Tìm kiếm đơn hàng</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/GetAllOrder">Theo dõi đơn hàng</a></li>
                <li class="nav-item"><a class="nav-link" href="/Account/Login">Đăng xuất</a></li>
            </ul>
        </li>
    }
}
